/* ------------------------------ */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub,
sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;
} 
input, select, button, textarea {
	margin: 0;
	font-size: 100%;
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* ------------------------------ */

html {
	min-height:100%;
}
body {
	color: #606060;
	text-align: left;
	font-size: 1em;
	min-height:100%;
	font-family:"Open Sans", sans-serif;
}
a, a:visited {
	color: #339933;
	text-decoration: underline;
}
a:hover {
	color: #339933;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* ------------------------------ */
header{
	background:#292929;
	overflow: hidden;
}
	.center-block-main{
		margin: 0 auto;
		min-width: 990px;
	}
	.logo{
		float: left;
		margin-top: 45px;
	}
	.menu{
		float: right;
	}
	.menu li{
		float: left;
		font-weight:600;
	}
	.menu li a{
		color: #fff;
		text-decoration: none;
		padding: 50px 35px;
		display: block;
		border-bottom:3px solid #292929;
	}
	.menu li a:hover{
		color: #58c93a;
		border-bottom:3px solid #58c93a;
	}